USE [SHYAM]
GO
/****** Object:  StoredProcedure [dbo].[SP_TIMEMANAGEMENT]    Script Date: 05-06-2023 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_TIMEMANAGEMENT](
@ID INT=0,
@BRANCH_ID INT=0,
@DEPT_ID	INT=0,
@SEMISTER_ID INT=0,
@SEMISTER_NAME VARCHAR(100)=NULL,
@DAY VARCHAR(10)=NULL,
@YEAR_OF_EDUCATION INT=0,
@xmlValue XML=NULL,
@NO_OF_YEAR	INT=0,
@ACTION VARCHAR(10),
@PMSG_OUT INT=0 OUTPUT
)
AS
BEGIN
DECLARE @TEACHER_NAME1 VARCHAR(100)=NULL,
		@SUBJECT_NAME1 VARCHAR(100)=NULL,
		@1ST_PERIOD VARCHAR(100)=NULL,
		@TEACHER_NAME2 VARCHAR(100)=NULL,
		@SUBJECT_NAME2 VARCHAR(100)=NULL,
		@2ND_PERIOD VARCHAR(100)=NULL,
		@TEACHER_NAME3 VARCHAR(100)=NULL,
		@SUBJECT_NAME3 VARCHAR(100)=NULL,
		@3RD_PERIOD VARCHAR(100)=NULL,
		@TEACHER_NAME4 VARCHAR(100)=NULL,
		@SUBJECT_NAME4 VARCHAR(100)=NULL,
		@4TH_PERIOD VARCHAR(100)=NULL,
		@TEACHER_NAME5 VARCHAR(100)=NULL,
		@SUBJECT_NAME5 VARCHAR(100)=NULL,
		@5TH_PERIOD VARCHAR(100)=NULL,
		@TEACHER_NAME6 VARCHAR(100)=NULL,
		@SUBJECT_NAME6 VARCHAR(100)=NULL,
		@6TH_PERIOD VARCHAR(100)=NULL,
		@TEACHER_NAME7 VARCHAR(100)=NULL,
		@SUBJECT_NAME7 VARCHAR(100)=NULL,
		@7TH_PERIOD VARCHAR(100)=NULL,
		@TPERIOD VARCHAR(100)=NULL
	IF(@ACTION='BD')--BIND DEPARTMENT
	BEGIN
		IF(@DEPT_ID=0)
		BEGIN
			SELECT DEPT_ID,DEPT_NAME FROM TBL_DEPARTMENT
		END
		ELSE
		BEGIN
			SELECT NO_OF_YEAR FROM TBL_DEPARTMENT WHERE DEPT_ID=@DEPT_ID
		END
	END
	IF(@ACTION='BB')--BIND BRANCH
	BEGIN
		SELECT BRANCH_ID,BRANCH_NAME FROM TBL_BRANCH WHERE DEPT_ID=@DEPT_ID
	END
	IF(@ACTION='BS')--BIND SEMISTER
	BEGIN
		IF(@NO_OF_YEAR=4)
		BEGIN
			SELECT * FROM TABLE_SEMISTER
		END
		IF(@NO_OF_YEAR=3)
		BEGIN
			SELECT * FROM TABLE_SEMISTER WHERE SEMISTER_ID NOT IN(7,8)
		END
		IF(@NO_OF_YEAR=2)
		BEGIN
			SELECT * FROM TABLE_SEMISTER WHERE SEMISTER_ID NOT IN(7,8,6,5)
		END
		IF(@NO_OF_YEAR=1)
		BEGIN
			SELECT * FROM TABLE_SEMISTER WHERE SEMISTER_ID NOT IN(7,8,6,5,4,3)
		END
	END
	IF(@ACTION='TI')--INSERT TIME SHEET
	BEGIN
		
		DECLARE @TOTAL INT=0,@COUNT INT=1

			IF((SELECT COUNT(*) FROM @xmlValue.nodes('DocumentElement/Timetable') AS Tabx(colx))>0)							
			BEGIN
				SELECT 
				CONVERT(VARCHAR(max),cast(colx.query('data(PERIODS)') as varchar(max))) as TPERIOD, 
				CONVERT(VARCHAR(max),cast(colx.query('data(SUBJECT_NAME)') as varchar(max))) as SUBJECT_NAME,
				CONVERT(VARCHAR(max),cast(colx.query('data(TEACHER_NAME)') as varchar(max))) as TEACHER_NAME,
				CONVERT(VARCHAR(max),cast(colx.query('data(FROMTIME)') as varchar(max))) as FROMTIME,
				CONVERT(VARCHAR(max),cast(colx.query('data(TOTALTIME)') as varchar(max))) as TOTALTIME
				INTO #TMP_PERIODSDETAILS FROM @xmlValue.nodes('DocumentElement/Timetable') AS Tabx(colx)

				SELECT @TOTAL=COUNT(*) FROM  #TMP_PERIODSDETAILS  
				WHILE (@COUNT <= @TOTAL)
				BEGIN
					SET @TPERIOD=(SELECT TPERIOD FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
					IF(@COUNT=1)
					BEGIN
						SET @TEACHER_NAME1=(SELECT TEACHER_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @SUBJECT_NAME1=(SELECT SUBJECT_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @1ST_PERIOD=(SELECT (FROMTIME+' ('+TOTALTIME+')') FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
					END
					ELSE IF(@COUNT=2)
					BEGIN
						SET @TEACHER_NAME2=(SELECT TEACHER_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @SUBJECT_NAME2=(SELECT SUBJECT_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @2ND_PERIOD=(SELECT (FROMTIME+' ('+TOTALTIME+')') FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
					END
					ELSE IF(@COUNT=3)
					BEGIN
						SET @TEACHER_NAME3=(SELECT TEACHER_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @SUBJECT_NAME3=(SELECT SUBJECT_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @3RD_PERIOD=(SELECT (FROMTIME+' ('+TOTALTIME+')') FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
					END
					ELSE IF(@COUNT=4)
					BEGIN
						SET @TEACHER_NAME4=(SELECT TEACHER_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @SUBJECT_NAME4=(SELECT SUBJECT_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @4TH_PERIOD=(SELECT (FROMTIME+' ('+TOTALTIME+')') FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
					END
					ELSE IF(@COUNT=5)
					BEGIN
						SET @TEACHER_NAME5=(SELECT TEACHER_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @SUBJECT_NAME5=(SELECT SUBJECT_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @5TH_PERIOD=(SELECT (FROMTIME+' ('+TOTALTIME+')') FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
					END
					ELSE IF(@COUNT=6)
					BEGIN
						SET @TEACHER_NAME6=(SELECT TEACHER_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @SUBJECT_NAME6=(SELECT SUBJECT_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @6TH_PERIOD=(SELECT (FROMTIME+' ('+TOTALTIME+')') FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
					END
					ELSE IF(@COUNT=7)
					BEGIN
						SET @TEACHER_NAME7=(SELECT TEACHER_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @SUBJECT_NAME7=(SELECT SUBJECT_NAME FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
						SET @7TH_PERIOD=(SELECT (FROMTIME+' ('+TOTALTIME+')') FROM (SELECT ROW_NUMBER() OVER(ORDER BY TPERIOD ASC)[R#],* FROM #TMP_PERIODSDETAILS) A WHERE A.R#=@COUNT)
					END	
					SET @COUNT=@COUNT+1
				END
				INSERT INTO T_TIMETABLE VALUES(@BRANCH_ID,@DEPT_ID,@SEMISTER_ID,@SEMISTER_NAME,@DAY,@YEAR_OF_EDUCATION,@TEACHER_NAME1,@SUBJECT_NAME1,@1ST_PERIOD,@TEACHER_NAME2,@SUBJECT_NAME2,@2ND_PERIOD,@TEACHER_NAME3,@SUBJECT_NAME3,@3RD_PERIOD,@TEACHER_NAME4,@SUBJECT_NAME4,@4TH_PERIOD,@TEACHER_NAME5,@SUBJECT_NAME5,@5TH_PERIOD,@TEACHER_NAME6,@SUBJECT_NAME6,@6TH_PERIOD,@TEACHER_NAME7,@SUBJECT_NAME7,@7TH_PERIOD)
			END	
			SET @PMSG_OUT=1
	END
END


--CREATE TABLE T_TIMETABLE(
--ID INT IDENTITY(1,1),
--BRANCH_ID INT,
--DEPT_ID	INT,
--SEMISTER_ID INT,
--SEMISTER_NAME VARCHAR(100),
--[DAY] VARCHAR(10),
--YEAR_OF_EDUCATION INT,
--[TEACHER_NAME1] VARCHAR(100),
--[SUBJECT_NAME1] VARCHAR(100),
--[1ST_PERIOD] VARCHAR(10),
--[TEACHER_NAME2] VARCHAR(100),
--[SUBJECT_NAME2] VARCHAR(100),
--[2ND_PERIOD] VARCHAR(10),
--[TEACHER_NAME3] VARCHAR(100),
--[SUBJECT_NAME3] VARCHAR(100),
--[3RD_PERIOD] VARCHAR(10),
--[TEACHER_NAME4] VARCHAR(100),
--[SUBJECT_NAME4] VARCHAR(100),
--[4TH_PERIOD] VARCHAR(10),
--[TEACHER_NAME5] VARCHAR(100),
--[SUBJECT_NAME5] VARCHAR(100),
--[5TH_PERIOD] VARCHAR(10),
--[TEACHER_NAME6] VARCHAR(100),
--[SUBJECT_NAME6] VARCHAR(100),
--[6TH_PERIOD] VARCHAR(10),
--[TEACHER_NAME7] VARCHAR(100),
--[SUBJECT_NAME7] VARCHAR(100),
--[7TH_PERIOD] VARCHAR(10),
--)

--SELECT ('3RD-PERIOD','1ST-PERIOD','2ND-PERIOD') AS PERIOD ORDER BY PERIOD ASC

--DECLARE @TABLE TABLE(
--PERIOD VARCHAR(100)
--)
--INSERT INTO @TABLE VALUES ('3RD-PERIOD'),('1ST-PERIOD'),('2ND-PERIOD')

--SELECT * FROM @TABLE ORDER BY PERIOD DESC

--SELECT * FROM T_TIMETABLE
--TRUNCATE TABLE  T_TIMETABLE

--ALTER TABLE T_TIMETABLE
--ALTER COLUMN [7TH_PERIOD] VARCHAR(100)